<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="studentnamespace">
	
	<resultMap type="com.ct.test.Student" id="studentMap">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<association property="card" resultMap="cardnamespace.cardMap"></association>
	</resultMap>
	
	<select id="selectAllStudentWithCard"  resultMap="studentMap">
		select s.id,s.name,c.id as cid,c.num
		from students s inner join cards c
		on s.cid = c.id
	</select>
	
</mapper>


